<div class="flex justify-center mt-5 gap-4">
  <button mat-flat-button (click)="get404Error()">Error404</button>
  <button mat-flat-button (click)="get500Error()">Error500</button>
  <button mat-flat-button (click)="get400ValidationError()">
    Error-Validation
  </button>
  <button mat-flat-button (click)="get400Error()">Error400</button>
  <button mat-flat-button (click)="get401Error()">Error401</button>
</div>

@if (validationError) {
  <div class="mx-auto max-w-lg mt-5 bg-red-100">
    <ul class="space-y-2 p-2">
      @for (error of validationError; track $index) {
        <li class="text-red-800">{{error}}</li>
      }
    </ul>
  </div>
}