.product-card{
    transition: transform 0.2s , box-shadow 0.2s;
    -webkit-transition: transform 0.2s , box-shadow 0.2s;
    -moz-transition: transform 0.2s , box-shadow 0.2s;
    -ms-transition: transform 0.2s , box-shadow 0.2s;
    -o-transition: transform 0.2s , box-shadow 0.2s;
}


.product-card:hover{
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    cursor: pointer;
}